{% extends 'core/base.html' %}

{% block title %}
Pela-fit | Rutinas
{% endblock title %}


{% block content %}
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
<div class="container">
  <h1 class="mt-4">Rutinas</h1>
<form method="post">
  {% csrf_token %}
<p class="fs-5 fst-italic">¿Seguro que quieres borrar esta rutina?</p>
<button type="submit" class ="btn btn-danger"> Sí, estoy seguro</button> <a href="{% url 'rutina:ejerciciorutina_detail' object.id %}"></a>


<a href="{% url 'rutina:ejerciciorutina_list' %}" class="btn btn-secondary" > No, me arrepentí </a>
</form>
  
</div>
{% endblock content %}

