{% extends 'core/base.html' %}


{% block title %}
Pela-fit | 
{% endblock title %}



{% block content %} 
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <a href="{% url 'rutina:ejerciciorutina_list' %}">
            
            <button target="_blank" class="btn btn-xl btn-dark  mt-3"> Ver Rutinas </button>
        </a> 

        <a href="{% url 'rutina:ejerciciorutina_create' %}">
            <button target="_blank" class="btn btn-xl btn-dark mt-3 "> Crear Rutinas </button>
        </a>


        <a href="{% url 'rutina:ejercicio_list' %}">
            <button target="_blank" class="btn btn-xl btn-dark mt-3"> Ver Ejercicios </button>
        </a>

        <a href="{% url 'rutina:ejercicio_create' %}">
            <button target="_blank" class="btn btn-xl btn-dark mt-3"> Crear Ejercicios </button>
        </a>

{% endblock content %}