{% extends 'core/base.html' %}

{% block title %}
    Pela-fit | Clases
{% endblock title %}


{% block content %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
    <h1>Clases</h1>
    
</header class="masterhead bg-primary text- black text-center">
<div class="container d-flex align-items-center flex-column">
    <header> <table  class="table table-striped"> 
            <thead>
                <th><h2 class="page-section-heading  text-center text-uppercase text-secondary pe-5 mb-0">Clases</h2></th>
                <th><h2 class="page-section-heading text-center text-uppercase text-secondary pe-5 mb-0">Duración</h2></th>
                
            </thead> 
            <tbody>
                {% for clase in clases %}
                <tr>
                    <td>{{ clase.nombre }}</td>
                    <td>{{ clase.duracion }} minutos</td>
            
                </tr>
       
        {% endfor %}</li>


    </tbody>
    </table>
</div>
<div class="text-center mt-4">
    <a class="btn btn-xl btn-secondary"   href=" {% url 'cliente:clase_create' %}">Nueva Clase</a>
{% endblock content %}  


