{% extends 'core/base.html' %}

{% block title %}
    Pela-fit | Usuarios
{% endblock title %}





{% block content %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
    <h1>Usuarios</h1>
    
</header class="masterhead bg-primary text- black text-center">
<div class="container d-flex align-items-center flex-column">
   <header> <table border="1"> 
        <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Clase</th>
        </thead> 
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.clase_id }} </td> 
            </tr>
         
        {% endfor %}
        </tbody>
</table>

<div class="text-center mt-4">
    <a class="btn btn-xl btn-outline-light"  href=" {% url 'cliente:nuevo_usuario' %}">Nuevo Usuario</a>
       
   

  

</div>
</header>
{% endblock content %}