{% extends 'core/base.html' %}

{% block title %}
    Pela-fit | Profesores
{% endblock title %}


{% block content %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
    <h1>Profesores</h1>
    
</header class="masterhead bg-primary text- black text-center">
<div class="container d-flex align-items-center flex-column">
    <header> <table class="table table-striped"> 
            <thead>
                <th><h2 class="page-section-heading  text-center text-uppercase text-secondary pe-5 mb-0">Nombre</h2></th>
                <th><h2 class="page-section-heading  text-center text-uppercase text-secondary pe-5 mb-0">Apellido</h2></th>
                <th><h2 class="page-section-heading  text-center text-uppercase text-secondary pe-5 mb-0">Clase</h2></th>
            </thead> 
            <tbody>
                {% for profesor in profesores %}
                <tr>
                    <td>{{ profesor.nombre }}</td>
                    <td>{{ profesor.apellido }}</td>
                    <td>{{ profesor.clase_id }} </td> 
                </tr>
       
        {% endfor %}</li>


    </tbody>
    </table>
</div>
<div class="text-center mt-4">
    <a class="btn btn-xl btn-secondary"   href=" {% url 'cliente:profesor_create' %}">Nuevo Profesor</a>
    </div>
{% endblock content %}  


