{% extends 'core/base.html' %}{% load static %}


{% block title %}
Pela-fit | Desarrollador    
{% endblock title%}


{% block content %}
    
<div class="container mt-5">
    <h1 class="text-center mb-4">Sobre el desarrollador</h1>
    <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
        <img src="{% static 'core/img/foto_dev.jpg' %}" width="400" class="img-fluid" alt="Foto del desarrollador">
        </div>
        <div class="col-md-6">
    <p class="lead">¡Bienvenidos a la página web de Pela-Fit!</p>
    <p> Mi nombre es Eduardo Cadin, soy Bioquímico UBA y un ferviente admirador de la tecnología, la ciencia y la programación.</p>
    <p> Por diferentes circunstancias de la vida me vi alejado del mundo de la programación durante muchos años, contemplando el auge de las nuevas tecnologías y lenguajes, sin poder abordarlo de lleno.</p>
    <p> A través del curso de Python de CoderHouse pude introducirme en este mundo y aprender mucho sobre una campo que se encuentra bastante alejado de mi profesión, mas no así de mis intereses. Es muy gratificante reconocer la cantidad de conceptos y líneas de razonamiento desarrolladas e incorporadas en estos meses, y poder recopilar experiencias  y saberes que pueden ser muy útiles en la vida, mas allá de la programación.</p>
    <p> Con este proyecto pude demostrar las habilidades adquiridas y por sobre todo, demostrarme a mí mismo que nunca es tarde para encarar nuevos desafíos y explorar nuevas áreas del conocimiento.</p>
    <p>Muchas gracias por visitar mi página, espero que les haya gustado!</p>
  </div>
</div>
</div>
</div>
{% endblock content %}