{% load static %} 
 
 <!-- Footer-->
 <footer class="footer text-center "

    <div class="container">
        <div class="row"> 
<!-- Footer Location-->
 <div class="col-lg-4 mb-5 mb-lg-0">
    <h4 class="text-uppercase mb-4">Location</h4>
    <p class="lead mb-0">
        Buenos Aires
        <br />
        Argentina
    </p>
</div>
<!-- Footer Social Icons-->
<div class="col-lg-4 mb-5 mb-lg-0">
    <h4 class="text-uppercase mb-4">CoderHouse</h4>
    <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.facebook.com/Coderhouse"><i class="fab fa-fw fa-facebook-f"></i></a>
    <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://twitter.com/coderhouse"><i class="fab fa-fw fa-twitter"></i></a>
    <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.linkedin.com/school/coderhouse"><i class="fab fa-fw fa-linkedin-in"></i></a>
    <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.coderhouse.com/"><i class="fab fa-fw fa-internet-explorer"></i></a>
</div>
<!-- Footer About Text-->
<div class="col-lg-4">
    <h4 class="text-uppercase mb-4">Acerca de la programación</h4>
    <p class="lead mb-0">
        En la programación de esta web se utilizaron conocimientos adquiridos en 
        <a target="_blank" href="https://www.coderhouse.com/">CoderHouse</a>
        .
    </p>
</div>
</div>
</div>

<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white ">
<div class="container"><small>&copy; 2024 Pela-Fit. Todos los derechos reservados.</small></div>
</div>

</footer>